@using WebPortal.Areas.Common.Models
@model IEnumerable<ProgramsViewModel>

<div class="nav-tabs-navigation">
    <div class="nav-tabs-wrapper">
        <ul id="tabs" class="nav nav-tabs" role="tablist">
            @*<li class="nav-item active">
                    <a class="nav-link" data-toggle="tab" href="#home" role="tab" aria-expanded="true">Home</a>
                </li>*@
            @{
                foreach (var item in Model.GroupBy( var => var.Type ))
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#@item.Key.GetHashCode()" role="tab" aria-expanded="true">@item.Key</a>
                    </li>
                }
            }

        </ul>
    </div>
</div>

<div id="my-tab-content" class="tab-content">
    @foreach (var item in Model.GroupBy( var => var.Type ))
    {
        <div class="tab-pane" style="column-count: 2" id="@item.Key.GetHashCode()" role="tabpanel" aria-expanded="true">
            <ul class="nav nav-pills nav-pills-primary nav-pills-icons justify-content-center" role="tablist">

                @foreach (var form in item.GroupBy( g => g.Form ))
                {
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#link7" role="tablist">
                        <i class="now-ui-icons objects_umbrella-13"></i> @form.Key
                    </a>
                </li>
                }
            </ul>
            @foreach (var form in item.GroupBy( g => g.Form ))
            {
                <p style="font-weight: 600">@form.Key</p>

                foreach (var rr in form)
                {
                    <p>@rr.Title</p>
                }
            }

            @*@foreach (var prog in item.GroupBy( g => g.Form ))
                {
                    foreach (var rr in prog)
                    {
                        <p>@rr.Title</p>
                    }
                }*@
        </div>
    }

</div>
